.DS_Store
admin/db/*sqlite3
admin/log/*.log
admin/log/*.pid
admin/tmp/**/*
admin/tmp/session.key
admin/vendor/rails
admin/public/javascripts/javascript.js
admin/public/stylesheets/stylesheet.css
admin/public/stylesheets/yui/stylesheet.css
admin/public/awstats/
account/db/*sqlite3
account/log/*.log
account/log/*.pid
account/tmp/**/*
account/tmp/session.key
account/vendor/rails
admin/public/images/rrd/*
admin/public/javascripts/active_scaffold/default/*
account/public/javascripts/active_scaffold
account/public/images/active_scaffold
account/public/stylesheets/active_scaffold
mail/*
