#password_description
{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  float: right;
}

#password_strength {
  height:10px;
}

#password_strength_border {
  margin-top: 7px;
  margin-left: 10px;
  width: 144px;
  height: 10px;
  border: 1px solid black;
  float: right;
}
.strength0 {
  width:144px;
}

.strength1 {
  width:40px;
  background:#ff0000;
}

.strength2 {  
  width:60px; 
  background:#ff5f5f;
}

.strength3 {
  width:80px;
  background:#56e500;
}

.strength4 {
  background:#4dcd00;
  width:100px;
}

.strength5 {
  background:#399800;
  width:144px;
}
