<dl>
  <dt><label for="record_action">Action</label></dt>
  <dd>
    <%= select_tag 'record[action]',
          options_for_select([
            ["Whitelist", "whitelist"],
            ["Blacklist", "blacklist"]
          ], @record.action) %>
  </dd>
</dl>
