<dl>
  <dt>
    <label for="record_pass_confirmation">Password Confirmation</label>
  </dt>
  <dd>
    <%= password_field_tag 'record[pass_confirmation]', "", :class => "password-input text-input", :size => "30" %>
  </dd>
</dl>
