html {
  font: "Lucida Grande", Helvetica, Verdana, Arial 14px/1.5em;
  background-color: #4B7399;
}

body, p, td, tr, th, h1, h2, h3, h4, h5, h6, ul, li
{
  font-family: "Lucida Grande", Helvetica, Verdana, Arial;
}

body
{
/*  margin: 1em;*/
/*  font-size: 0.6em;*/
}

html>body
{
/*  font-size: 0.6em;*/
}

/* SORT OUT HEADER FORMATTING AND SIZES */
h1, h2, h3, h4, h5 {font-weight: bold;}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
pre,code { font-size:1em; }

#doc3 {
/*  width: 1000px;
  *width: 1050px;*/
  background-color: #fff;
  margin: 10px;
  border: solid 1px black;
}

#bd { 
  padding: 20px;
  background-color: #fff;
}

/* HARMONIZE LINKS, KILL BORDER ON IMG LINKS */

a {text-decoration: underline;}
a:link, a:visited {color: #00f;}
a:hover {color: #33f;}
a:active {color: #fff;}
a img, :link img, :visited img {border: none}

/* link underlines tend to make hypertext less readable, 
   because underlines obscure the shapes of the lower halves of words */

:link,:visited { text-decoration:none }


pre {
  font-family: "Courier New", Courier, mono;
  font-size: 12px;
}

.fixed_font {
  font-family: "Courier New", Courier, mono;
}

fieldset
{
  border: 0;
}

fieldset div
{
  padding: 0.5em 0;
}

legend
{
  font-weight: bold;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
}

label {
  font-weight: bold;
}

blockquote
{
  margin:  1em;
}

select, textarea
{
  margin: 0.5em 0 0 0;
}

h1 {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

h2 {
  font-size: 16px;
  color: #06c;
  padding-bottom: 0.5em;
}

h3 {
  margin-bottom: 1.2em; 
  background-color: #eee; 
  padding: 0.5em 0;
}

input {
  font-size: 110%;
}

a:hover
{
  text-decoration: underline;
}

caption
{
  text-align: left;
  font-weight: bold;
  font-size: 120%;
  padding-bottom: 0.3em;
  color: #757575;
}

caption.first
{
  margin-top: 0;
}
/*
th
{
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  color: #696969;
  padding: 0.5em;
  text-align: left;
  font-weight: bold;
}

table
{
  width:  100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 0.5em;
}

td
{
  border: 1px solid #ccc;
  padding: 0.8em;
}
*/
table .noborder td, table .noborder th {
  border: 0;
}

.active-scaffold th a {
  margin: 0.3em;
}

td.edit
{
  border: none;
  text-align: left;
}

th.center, td.center
{
  text-align: center;
}
/*
tfoot td
{
  border: none;
  border-top: 2px solid #e5e5e5;
}
*/