<tr id="media_setting">
  <td>Media</td>
  <td>
    <%= select "interface", "media", @interface.available_media, {:include_blank => true} %>
  </td>
</tr>

<tr id="mtu_setting">
  <td>MTU</td>
  <td style="text-align: left;"><%= text_field "interface", "mtu", :size => 10 -%></td>
</tr>