<h2>Installed Certificates</h2>

<table class="system">
  <tr><th>Certificate</th></tr>
  <tr><td><pre><code><%= @certificate.view %></code></pre></td></tr>
</table>

<table class="system">
  <tr><th>Key</th></tr>
  <tr><td><pre><code><%= @certificate.key  %></code></pre></td></tr>
</table>

<p>&nbsp;</p>
