<dl>
  <dt>
    <label for="record_password1">Password</label>
  </dt>
  <dd>
    <div id="password_strength_meter" style="float:right;">
      <span id="password_description"></span>
      <div id="password_strength_border">   <!-- Used for border only-->
        <div id="password_strength" class="strength0"></div>  <!-- Display colors using css class -->
      </div>
    </div>
    <%= password_field_tag 'record[password1]', @record.password1, :class => "password1-input text-input", :onkeyup => "password_strength(this.value);", :size => "30" %>
  </dd>
</dl>
