      <table>
        <tr>
          <td>Hostname</td>
          <td><%= system_info.hostname %></td>
        </tr>
        <tr>
          <td>Uptime</td>
          <td><%= system_info.uptime %></td>
        </tr>
        <tr>
          <td>Processor Type</td>
          <td><%= system_info.cpu_type%></td>
        </tr>
        <tr>
          <td>Physical Memory</td>
          <td><%= system_info.memory %> Mb</td>
        </tr>
      </table>